.home__grid-card {
    width: 316px;
    height: 184px;
    border-radius: 4px;
    background-color: #fff;
    padding: 24px 0;
   }

.emoji {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 18px;
    }

.capture {
        font-size: 17px;
        line-height: 28px;
        font-weight: 700;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 12px;
    }

.card__text {
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #3F444A;

    }